<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Toko Buku</title>
    <link
      href="https://www.jqueryscript.net/css/jquerysctipttop.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/flatly/bootstrap.min.css"
    />
    <link href="src/jquery.inputpicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body style="background: #f5f7fa; color: #404e67">
    <div class="navbar">
      <a href="">Stock</a>
      <a href="">Penjualan</a>
      <a href="/">Pembayaran</a>
      <a href="/product">Product</a>
      <a href="/productCat">productCategory</a>
    </div>
    <div class="header">
      <h2>Produk Category</h2>
    </div>
    <div class="content-container">
      <div class="input-buku">
       
        <form action="/api/productCategory" method="post" class="form" id="form">
          <label for="">ID</label>
          <input type="text" name="id" id="id" readonly value="1">
          <label for="">Product Category</label>
          <input
          class="form-control"
          id="demo-2"
          name="productCategory"
          
        />
          <button id="btnSubmit" type="submit">Submit</button>
        </form>
      </div>

      <div class="table-wrapper">
        <div class="tampilan">
          <h3>Tabel Daftar Buku</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Judul Buku</th>
              <th>Aksi</th>
            </tr>
          </thead>

          <tbody>
            <tr class="row-body">
              <td></td>
              <td></td>
              <td>
                <button id="btn-delete7" class="btn-delete" hidden>
                  Delete
                </button>
                <button id="btn-edit" class="btn-edit" hidden>Edit</button>
              </td>
            </tr>
            <tr class="row-body">
              <td></td>
              <td></td>
              <td>
                <button id="btn-delete7" class="btn-delete" hidden>
                  Delete
                </button>
                <button id="btn-edit" class="btn-edit" hidden>Edit</button>
              </td>
            </tr>
            <tr class="row-body">
              <td></td>
              <td></td>
              <td>
                <button id="btn-delete7" class="btn-delete" hidden>
                  Delete
                </button>
                <button id="btn-edit" class="btn-edit" hidden>Edit</button>
              </td>
            </tr>
            <tr class="row-body">
              <td></td>
              <td></td>
              <td>
                <button id="btn-delete7" class="btn-delete" hidden>
                  Delete
                </button>
                <button id="btn-edit" class="btn-edit" hidden>Edit</button>
              </td>
            </tr>
            <tr class="row-body">
              <td></td>
              <td></td>
              <td>
                <button id="btn-delete7" class="btn-delete" hidden>
                  Delete
                </button>
                <button id="btn-edit" class="btn-edit" hidden>Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   <script src="./btnProductCat.js"></script>
  </body>
</html>
